<div class="page page-activities bg-gray-800 pb-16 page-anim-hidden">
  <div class="p-4 border-b border-gray-700">
    <div class="input-container calendar">
      <input
        type="text"
        name="date"
        value="August 4th, 2020"
        pageTransition="in-modal,calendar"
      />
    </div>
  </div>
  <div class="flex flex-col">
    <template id="activity">
      <div
        class="py-2 px-4 flex flex-row items-center justify-between border-b border-gray-700"
      >
        <div class="name text-gray-50">Vitamins</div>
        <label class="checkbox">
          <input type="checkbox" />
          <span></span>
        </label>
      </div>
    </template>
  </div>
</div>
