<div
  class="page page-error page-anim-hidden bg-gray-800 p-8 flex flex-col justify-end space-y-16"
>
  <h1 class="uppercase text-3xl text-gray-50">Error</h1>
  <div class="message text-gray-50" style="min-height: 8rem"></div>
  <button
    class="btn bg-transparent text-primary-500 shadow-none hover:shadow-none hover:bg-transparent hover:text-primary-400 focus:shadow-none focus:bg-transparent focus:text-primary-400"
    pageTransition="out-modal,error"
  >
    Close
  </button>
</div>
