<div class="page page-login bg-gray-800 justify-end page-anim-hidden">
  <form action="#" class="form-login flex flex-col p-8 space-y-16">
    <h1 class="uppercase text-3xl text-gray-50">Log In</h1>
    <div class="flex flex-col space-y-4">
      <div class="input-container email">
        <input type="email" name="email" placeholder="email" />
      </div>
      <div class="input-container lock">
        <input type="password" name="password" placeholder="password" />
      </div>
    </div>
    <div class="flex flex-col space-y-4">
      <button>Log In</button>
      <a
        href="#"
        class="btn bg-transparent text-primary-500 shadow-none hover:shadow-none hover:bg-transparent hover:text-primary-400"
        pageTransition="in-right,signup|out-right,login"
        >Sign Up</a
      >
    </div>
  </form>
</div>
