<div
  class="page page-navigation page-anim-hidden justify-end pointer-events-none"
>
  <div
    class="flex flex-row justify-between border-t border-gray-700 w-full pointer-events-auto relative"
  >
    <div class="flex flex-row">
      <a href="#" class="p-2 flex flex-col space-y-1 items-center w-16">
        <div class="w-6 h-6 bg-primary-500 icon-grid"></div>
        <div class="text-primary-500 text-sm">Activities</div>
      </a>
      <a href="#" class="p-2 flex flex-col space-y-1 items-center w-16">
        <div class="w-6 h-6 bg-gray-500 icon-stats"></div>
        <div class="text-gray-500 text-sm">Stats</div>
      </a>
    </div>
    <div class="flex flex-row">
      <a href="#" class="p-2 flex flex-col space-y-1 items-center w-16">
        <div class="w-6 h-6 bg-gray-500 icon-user"></div>
        <div class="text-gray-500 text-sm">Account</div>
      </a>
      <a href="#" class="p-2 flex flex-col space-y-1 items-center w-16">
        <div class="w-6 h-6 bg-gray-500 icon-cog"></div>
        <div class="text-gray-500 text-sm">Settings</div>
      </a>
    </div>
    <button
      class="absolute flex items-center justify-center rounded-full w-12 h-12 p-0 transform -translate-y-6 -translate-x-6"
      style="left: 50%"
      pageTransition="in-modal,add"
    >
      <div class="icon-plus bg-gray-800 w-6 h-6 pointer-events-none"></div>
    </button>
  </div>
</div>
